{% include "header.html" %}

<form action="{{url_for('get_edit_performance', user_id=current_user.id, performance_id=performance_data.id)}}" method="post">
    <input type="text" name="date_performance" value="{{performance_data.date_performance}}">
    <input type="text" name="global_performance" value="{{performance_data.global_performance}}">
    <input type="text" name="notes" value="{{performance_data.notes}}">
    <input type="text" name="sleep_time" value="{{performance_data.sleep_time}}">
    <input type="submit" value="Valider">
</form>

</body>
</html>