{% include "header.html" %}

{% if is_new_exercise == True %}
    <p>Le nouvel exercice a été ajouté avec succès.</p>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p><i class="far fa-check-circle"></i> {{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if not has_data %}
    <p><i class="fas fa-info-circle"></i> Vous n'avez pas encore enregistré de données. <a href="{{url_for('add_new_exercise', user_id=current_user.id)}}">Cliquez ici</a> pour ajouter un nouvel exercice</p>

{% else %}

    {% for table in global_performance_tables %}
        <h3>{{global_performance_title}}</h3>
        {{ table|safe }}
    {% endfor %}

{% endif %}

<div id="chart1"></div>
    <script type='text/javascript'>
        var graphs = {{graphJSON1 | safe}};
        Plotly.plot('chart1',graphs,{});
    </script>

<div id="chart2"></div>
    <script type='text/javascript'>
        var graphs = {{graphJSON2 | safe}};
        Plotly.plot('chart2',graphs,{});
    </script>

<div id="chart3"></div>
    <script type='text/javascript'>
        var graphs = {{graphJSON3 | safe}};
        Plotly.plot('chart3',graphs,{});
    </script>

<div id="chart4"></div>
    <script type='text/javascript'>
        var graphs = {{graphJSON4 | safe}};
        Plotly.plot('chart4',graphs,{});
    </script>

</body>
</html>