{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<body class="w-full h-screen bg-blue-700">
    <div class="w-full h-full flex justify-center py-16">
        <div class="w-3/5">
            <div class="px-16">
                <p class="text-6xl text-white font-bold">GymData<span class="text-red-300">Tracker</span></p>
            </div>
            <div></div>
        </div>
        <div class="w-2/5 flex justify-center ">
            <div class="w-4/5 bg-blue-800 rounded-xl shadow-xl p-12 flex flex-col items-center justify-center">
                <div class="w-full flex justify-center">
                    {% include "./svg/icons/loginIcon.html" %}
                </div>
                <div class="w-full flex flex-col justify-center items-center space-y-6 px-4 py-10">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="space-y-3 w-full flex flex-col py-4">
                        <form action="{{url_for('login')}}" method="post" name="login">
                            <div class="relative w-full rounded-lg">
                                <i class="absolute top-3 left-3 pr-2 border-r text-white fa fa-user"></i>
                                <input name="username" class="w-full bg-blue-750 text-white placeholder-white py-2 pl-10" type="text" placeholder="Nom d'utilisateur">
                            </div>
                            <div class="relative w-full rounded-lg">
                                <i class="absolute top-3 left-3 pr-2 border-r text-white fas fa-lock"></i>
                                <input name="password" class="w-full bg-blue-750 text-white placeholder-white py-2 pl-10" type="text" placeholder="Mot de passe">
                            </div>
                            <input type="submit" class="block cursor-pointer w-full rounded-lg text-white bg-green-400 py-4 text-center" value="Connexion">
                        </form>
                    </div>

                    <div class="space-y-2 w-full flex flex-col">                    
                        <a class="block cursor-pointer w-full rounded-lg text-white py-4 text-center" href="{{url_for('register')}}" style="background: #3A3F4D">S'inscrire</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>
</html>
