{% include "header.html" %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% if has_data %}

    <div id="chart" style="margin-top:50px;"></div>
    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      Plotly.plot('chart',graphs,{});
    </script>

{% else %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p><i class="fas fa-info-circle"></i> {{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endif %}

</body>
</html>