{% include "header.html" %}


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p><i class="far fa-check-circle"></i>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<br><br>
<ul>
    {% if has_data %}
        {% for exercise in all_exercises %}
            <li><a href="{{url_for('get_workout_details', user_id=current_user.id, exercise_id=exercise)}}">{{all_exercises[exercise]}}</a></li>
        {% endfor %}
        <li><a href="{{url_for('add_new_exercise')}}">+</a></li>
    {% else %}
        <li><a href="{{url_for('add_new_exercise')}}">+ Ajouter un nouvel exercice</a></li>
    {% endif %}
</ul>

<hr>




</body>
</html>