{% include "header.html" %}

<br>
<p>
    The Wilks coefficient or Wilks formula is a mathematical coefficient that can be used to measure the relative strengths of powerlifters despite the different weight classes of the lifters. Robert Wilks, CEO of Powerlifting Australia, is the author of the formula.
    The formula was updated in March 2020 to allow for a rebalancing of coefficients, with men and women's performances better aligned and the extreme bodyweight classes brought into better balance with the middle bodyweight classes.
</p>
<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/013af9c9fd2b149627287957dec0c50b70823657"/>


</body>
</html>